html { font-family: 'Noto Serif JP', serif;

    font-weight: 400;
    
    font-style: normal;
    font-size: 12px;
    
      
      }

.wrapper {
    margin: 0 auto 0 auto;
  
    max-width: 830px;
    
}

   div.sample {
      margin: 20px;
      padding: 10px;
      border: solid 1px #808080;
      float: left;
   }

  
   
   .disp { border: 2px dotted green;
   max-width: 830;
   
   padding: 35px;
   font-size: 12pt,14pt,18pt,36pt;
    line-height:normal;
    word-spacing: 0.8rem;
   
   } 
   
   h1 {
    
    font-size: 4rem;
   }

  h2 { align-items: center;
    

    font-size: 2rem;
  }
  
  p {  
    
    line-height: 2;
    word-spacing: 0.8rem;
  }
  ps {font-size: 1.6rem;
    line-height: 2;
    word-spacing: 0.8rem;
   
  }
  pm {font-size: 1.3rem;
    line-height: 2;
    word-spacing: 0.8rem;
    background-color:white;
  }

  body, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(168, 180, 221);
  
    
  }
  
  #book {
    background: url("bookL830_580.png") no-repeat;
    position: absolute;
    width: 830px;
    height: 580px;
    left: 50%;
	top: 50%;
	
    
  }
  
  #pages section {
    background: url("paper400_550.png") no-repeat;
    display: block;
    width: 400px;
    height: 550px;
    position: absolute;
    left: 415px;
    top: 15px;
    overflow: hidden;
  }

      #pages section>div {
      display: block;
      width: 400px;
      height: 500px;
      font-size: 16px;
    }
    #pages section p,
    #pages section h2 {
      padding: 3px 35px;
      line-height: 1.4em;
      text-align: justify;
    }
    #pages section h2{
      margin: 15px 0 10px;
    }
  
  #pageflip-canvas {
    position: absolute;
    z-index: 100;
  }
  
  
  
  
 
