/* 全てのwebページに適用される　*/
html { font-family: 'New Tegomin', serif;
    font-weight: 400;
    
    font-style: normal;
    
    
        font-size: 10px;}

body {
    margin: 50px 0 0 0;
    background-color:  #eeece9;
}
.wrapper {
    margin: 0 auto 0 auto;
    min-width: 600px;
    max-width: 800px;
    
}

   div.sample {
      margin: 20px;
      padding: 10px;
      border: solid 1px #808080;
      float: left;
   }
   
   .tate {
      -ms-writing-mode: tb-rl;            /* IE用　*/
      -webkit-writing-mode: vertical-rl;  /* chrome用　*/
      -o-writing-mode: vertical-rl;       /* opera用　*/
      writing-mode: vertical-rl;
      margin: 0 auto 0 auto;
      max-width: 800px;
      max-height: 800px;
   }
   
   

   h1 {
    font-family: 'New Tegomin', serif;
    font-size: 4rem;
   }

  h2 {
    font-family: 'New Tegomin', serif;

    font-size: 3rem;
  }
  
  p {
    font-family: 'New Tegomin', serif;
    font-size: 3rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
  }
 ps {
    
    font-size: 1rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
  }
